tickTime={{ tick_time }}
dataDir={{ data_dir }}
dataLogDir={{ log_dir }}
clientPort={{ client_port }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}

{#
Also consider:
server.{{server.id}}={{server.host}}:2888:3888
#}

{% for host in groups['zk-nodes'] %}
server.{{ hostvars[host].ansible_hostname[-1:] }}={{ host }}:2888:3888
{% endfor %}
